*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #777;
    background: #E1D4EF;
}

img {
    display: block;
    max-width: 100%;
}


#cart {
    border: 1px solid #000;
    margin-bottom: 40px;

    .item {
        padding: 20px;
        margin-bottom: 20px;

        :not(:last-child) {
            border-bottom: 1px solid #000;
        }
    }

    .item:not(:last-child) {
        border-bottom: 1px solid #000;
    }
    
}


#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
}

.product {
    display: flex;
    flex-direction: column;

    background-color: #E1E2EF;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;

    &__image {
        border-radius: 8px 8px 0 0;
    }
    
    &__data {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 16px;
    }
    
    
}

// Add to Cart button custom styles
.addToCartBtn {
    align-self: center;
    margin-top: auto;
}

// Add to Cart button styles
/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}